:root{
    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-optional:var(Noto) 

--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #1a5c37;
--cor4: #063d1e;
--cor5: #ebe5c5;
}


#nutri{
    font-size: 3em;
    color: #063d1e;
    background-color: #83e1ad;
    padding: 10px;
    margin-top: 10px;
    font-family: var(--font-padrao);
    text-align: center;
    

}
nav{
    background-color:#83e1ad;
    padding: auto;
    margin-top: -35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

body{
    background-color: #3ddc84;
}

a{
    text-decoration: none;
    margin-right: 20px;
    background-color: #ebe5c5;
   
}

#logo{
    width: 10%;
    margin-left: 150px;
    display: flex;
}


img{
    padding: 20px;
    width: 90%;
}

h2{
    font-family:var(--font-padrao);
    text-align: center;
}

p{
    text-align: justify;
}

#interatividade{
    font-size: 1.5em;
}

.ligacao{
    width: 50%;
    margin-left: 100px;
}

div.video{
    background-color: #3ddc84;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 7%;
    width: 90%;
    height: 90%;
}

input{
    display: block;
    margin-bottom: 10px;
    width: 30%;
}

button{
    width: 20%;
}

.rodape > p{
    text-align: center;
    background-color: #3ddc84;
    
}

